{% extends 'base.html' %}

{% block content %}
    {% for shark in sharks%}
        <h2>{{ shark['properties']['name'] }}</h2>
        <h3>{{ shark['properties']['stage_of_life'] }}</h3>
        <p><span>{{ shark['properties']['gender'] }}</span>
            <span>{{ shark['properties']['type'] }}</span>
            <img src="{{shark['properties']['image']}}" alt="image of {{ shark['properties']['name'] }}">
            <span>{{ shark['properties']['length'] }}</span>
            <span>{{ shark['properties']['weight'] }}</span>
        </p>
    {% endfor %}
{% endblock %}  